<extend name="Base/common"/>
<block name="header">
    <include file="Public/nav"/>
</block>
<block name="body">

    <link type="text/css" rel="stylesheet" href="__CSS__/group.css"/>
    <script type="text/javascript" src="__JS__/common.js"></script>
    <div class="col-xs-8">
        <div class="common-block group_info">
            <header>
            <i class="icon-list-ul icon-border-circle"></i>&nbsp; {:L('_BEST_POST_')} &nbsp;
            <small>{$posts.count} {:L('_PIECE_')}</small>
        </header>
            <div class="common-block-body">

                <section class="items">
                    <volist name="posts.data" id="vo">
                        <div class="items">
                            <div class="item">
                                <div class="item-heading">
                                    <div class="pull-right label label-success">{$vo.group.title}</div>
                                    <h4><a href="{:U('index/group?id='.$vo['group_id'])}">{$vo.title}</a></h4>
                                </div>
                                <div class="item-content">
                                    <if condition="$vo['cover'] neq null">
                                        <img style="width: 80px;height: 80px" src="{$vo.cover}" alt="图片">
                                        <else/>
                                        <img style="width: 80px;height: 80px" src="__PUBLIC__/images/nopic.png" alt="图片">
                                    </if>


                                    <a href="{:U('group/index/detail',array('id'=>$vo['id']))}">{:msubstr($vo['summary'],1,40)}</a>
                                </div>
                                <div class="item-footer">
                                    <i class="icon icon-heart-empty">&nbsp;{$vo.support_count}喜欢&nbsp;</i><a href="{:U('group/index/detail',array('id'=>$vo['id']))}" class="text-muted"><i class="icon-comments">&nbsp;{$vo.reply_count}评论</i> </a> &nbsp; <span class="text-muted">{$vo.create_time|friendlyDate}</span>
                                </div>
                            </div>
                        </div>
                    </volist>
                </section>
                <footer>
                   {$posts.html}
                </footer>
            </div>

        </div>

    </div>
    <div class="col-xs-4">
        <div class="common-block">
            <header>
                {:L('_RANDOM_RECOMMEND_')}
            </header>
            <section>
                <ul class="group-list">
                    <volist name="groups" id="vo">
                        <li class="clearfix">
                            <div class="col-xs-4">
                                <div class="img-thumbnail-wrap" style="width:80px;height:80px;line-height:80px">
                                    <a href="{:U('group/index/group',array('id'=>$vo['id']))}" target="_blank"><img
                                            class="" src="{$vo.logo|getThumbImageById=80,80}"
                                            style="width: 80px;height: 80px"/></a>
                                </div>
                            </div>
                            <div class="col-xs-8">
                                <h4>
                                    <a href="{:U('group/index/group',array('id'=>$vo['id']))}" target="_blank">{$vo.title}</a>
                                </h4>

                                <p>
                                    {$vo.member_count} 个{$vo.member_alias|default=L('_MEMBER_')}&nbsp;&nbsp;
                                    <if condition="$vo['flag']">
                                        <else />
                                        <a data-role="group_attend" data-group-id="{$vo.id}" class="">+{:L('_JOIN_')}</a>
                                    </if>
                                </p>
                            </div>

                        </li>
                    </volist>
                </ul>
            </section>
        </div>
    </div>
</block>


