<extend name="Base/common"/>
<block name="header">
    <include file="Public/nav"/>
</block>
<block name="body">
    <link type="text/css" rel="stylesheet" href="__CSS__/question.css"/>
    <div class="container" style="min-height: 400px">
        <div class="row">
            <div class="col-xs-8">
                <div class="common_block_border clearfix">
                    <div class="question_list" style="padding:0 20px">
                        <notempty name="list">
                            <volist name="list" id="data">
                              <include file="Public/_default_list"/>
                            </volist>
                            <else/>
                            <div style="font-size:3em;padding:2em 0;color: #ccc;text-align: center">{:L("_NO_QUESTION_YO_WITH_WAVE_")}</div>
                        </notempty>
                        <div class="text-right">
                            {:getPagination($totalCount,20)}
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xs-4">
                {:W('Question/RightBlock/recommend')}
                {:W('Common/Adv/render',array(array('name'=>'index_bottom_top','type'=>1,'width'=>'360px','height'=>'120px','margin'=>'10px 0 0 0','title'=>'问答待回答右侧最底部广告')))}
            </div>
        </div>
    </div>

    </div>
</block>